.portfolio_Header
{
    width: 100%;
    text-align:center;
    font-size: 200%;;
}
.portfolio_Header select
{
    font-size: 100%;
    width: 10%;
    text-align:center;
}
.portfolio_classTable
{
    width: 30%;
    position: absolute;
}