.Nav_csamRows_table{
    /* width: 45%; */
    border: 1px solid cadetblue;
    
    margin-left: 10%;
    margin-right: 3%;
    /* font-size: 80%; */
    margin-top: 3%;
}
.Nav_csamRows_table td, tr{
    /* padding: 1%; */
}
#dounloadDivCsamRowTableNavPage{
    width: 100%;
    text-align: center;
    border-top: 1px solid navy;
}
.spinnerDiv
{
    position: fixed;
    top: 20%;
    left:45%;
}